/*Base Reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background: black;
}

.container {
    height: 100%;
    margin: auto;
}