/*Base Reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.glow {
    position: relative;
    margin-top: 80px;
    height: 300px;
    width: 300px;
    background: linear-gradient(0deg, black, #262626);
    border-radius: 50%;
}

.glow::before, .glow::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(22.5deg, #ff00ee, #0000ff, #00ff00, #ff0000,  #ff00ee, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    border-radius: 50%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    z-index: -1;
}

.glow::after {
    filter: blur(30px);
}

.text-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text {
    color: white;
    display: block;
}

button {
    background: linear-gradient(0deg, #000000, #262626);
    color: white;
    width: 55px;
    height: 30px;
    padding: 0 15px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 28px;
}

input[type="range"]{
    background: #232323;
    border: 1px solid black;
    border-radius: 20px;
    height: 5px;
    vertical-align: middle;
    outline: none;
}