/*Base Reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

.glow {
    position: relative;
    height: 300px;
    width: 300px;
    background: #262626;
    background: linear-gradient(0deg, black, #262626);
    border-radius: 50%;
}

.glow::before, .glow::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #ff00ee, #0000ff, #00ff00, #ff0000,  #ff00ee, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    border-radius: 50%;
    max-width: calc(300px + 4px);
    max-height: calc(300px + 4px);
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    z-index: -1;
}

.glow::after {
    filter: blur(20px);
}

.text-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text {
    color: white;
}